{% extends "base.html" %}

{% block content %}
<div class="about-section container my-5 fade-in">
    <h1 class="text-center mb-4">À propos de Fusikab DJ</h1>
    <p class="lead text-center">Notre mission est de transformer vos événements en expériences inoubliables grâce à notre expertise en animation musicale et en sonorisation.</p>

    <h2 class="text-center mt-5">Notre Équipe</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center shadow-lg" style="background-color: #000000; border-radius: 15px; height: 100%;">
                <img src="{{ url_for('static', filename='images/baptiste.png') }}" alt="Baptiste RIVIÈRE" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Baptiste RIVIÈRE</h5>
                    <p class="card-subtitle mb-2 text-white">Gérant</p>
                    <p class="card-text">DJ, Technicien Son & Lumière</p>
                    <p class="card-text"><em>[Diplôme de DJ Animateur et Technicien Son et Lumière délivré par le CFPM de Rennes]</em></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center shadow-lg" style="background-color: #000000; border-radius: 15px; height: 100%;">
                <img src="{{ url_for('static', filename='images/albin.png') }}" alt="Albin GALLERAND" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Albin GALLERAND</h5>
                    <p class="card-subtitle mb-2 text-white">DJ, Technicien Son & Lumière</p>
                    <p class="card-text"><em>[RNCP5 de DJ Producteur de musiques actuelles]</em></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center shadow-lg" style="background-color: #000000; border-radius: 15px; height: 100%;">
                <img src="{{ url_for('static', filename='images/stéphane.png') }}" alt="Stéphane DINAHET" class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Stéphane DINAHET</h5>
                    <p class="card-subtitle mb-2 text-white">DJ, Technicien Son & Lumière</p>
                    <p class="card-text"><em>[En formation]</em></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
