{% extends "base.html" %}

<link rel="stylesheet" href="static/css/animation_musicale.css">

{% block content %}
<div class="container my-5">
    <h1>Animation musicale personnalisée</h1>
    <p>Chez Fusikab DJ, chaque playlist est créée sur mesure.</p>
    <p>Grâce à un large catalogue musical, nous couvrons tous les styles et toutes les générations : variété française, pop, électro, disco, funk, hip-hop, musiques du monde...</p>
    <p>Avant votre événement, nous prenons le temps de définir avec vous :</p>
    <ul>
        <li>Les genres musicaux souhaités</li>
        <li>Les morceaux incontournables</li>
        <li>Les styles à éviter</li>
    </ul>
    <p>Pendant la soirée :</p>
    <ul>
        <li>Musique d’ambiance élégante pendant l’apéritif et le repas</li>
        <li>Set dynamique et dansant pour faire vibrer vos invités</li>
    </ul>
    <p>Une atmosphère musicale cohérente, qui vous ressemble.</p>
</div>
{% endblock %}
