{% extends "base.html" %}

<link rel="stylesheet" href="static/css/engagement_ecoresponsable.css">

{% block content %}
<div class="container my-5">
    <h1>Un engagement écoresponsable</h1>
    <p>Chez Fusikab DJ, faire la fête ne doit pas rimer avec gaspillage.</p>
    <p>Conscients de notre impact, nous avons repensé notre façon de travailler pour intégrer des gestes concrets en faveur de l’environnement :</p>
    <ul>
        <li>Zéro papier : devis, contrats et factures sont désormais 100 % numériques</li>
        <li>Moins de déchets : réduction de l’usage du scotch au strict minimum</li>
        <li>Réutilisation : nous utilisons des riselans réutilisables pour nos installations techniques</li>
        <li>Énergie responsable : nous privilégions l’usage de piles rechargeables pour notre matériel sans fil</li>
    </ul>
    <p>Notre engagement ne change rien à la qualité de nos prestations… mais il fait toute la différence pour la planète.</p>
</div>
{% endblock %}
