{% extends "base.html" %}

<link rel="stylesheet" href="static/css/mentions.css">

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Mentions Légales</h1>
    <p>Bienvenue sur la page des mentions légales de Fusikab DJ. Conformément à la législation en vigueur, voici les informations obligatoires :</p>
    <ul>
        <li><strong>Nom de l'entreprise :</strong> Fusikab DJ</li>
        <li><strong>Adresse :</strong> 123 Rue de la Musique, 75000 Paris, France</li>
        <li><strong>Téléphone :</strong> +33 1 23 45 67 89</li>
        <li><strong>Email :</strong> contact@fusikabdj.com</li>
        <li><strong>SIRET :</strong> 123 456 789 00010</li>
        <li><strong>Responsable de la publication :</strong> John Doe</li>
        <li><strong>Hébergeur :</strong> OVH, 2 Rue Kellermann, 59100 Roubaix, France</li>
    </ul>
    <p>Pour toute question ou demande d'information, veuillez nous contacter via les coordonnées ci-dessus.</p>
</div>
{% endblock %}
