{% extends "base.html" %}

<link rel="stylesheet" href="static/css/prestations_sur_mesure.css">

{% block content %}
<div class="container my-5">
    <h1>Prestations sur mesure</h1>
    <p>Chez Fusikab DJ, chaque événement est unique.</p>
    <p>C’est pourquoi aucun tarif fixe n’est affiché : nous concevons des prestations 100 % personnalisées, adaptées à vos envies, vos contraintes et votre budget.</p>
    <p>Quel que soit le type d’événement (mariage, anniversaire, soirée d’entreprise, etc.), nous vous accompagnons de la première prise de contact jusqu’au jour J.</p>
    <p>Contactez-nous dès aujourd’hui pour discuter de votre projet.</p>
    <p>Recevez un devis gratuit, sans engagement.</p>
</div>
{% endblock %}

<link rel="stylesheet" href="static/css/prestations_sur_mesure.css">
