{% extends "base.html" %}

<link rel="stylesheet" href="static/css/sonorisation.css">

{% block content %}
<div class="container my-5">
    <h1>Sonorisation & Matériel</h1>
    <p>Nous assurons une sonorisation de haute qualité, parfaitement adaptée à chaque lieu :</p>
    <ul>
        <li>Systèmes audio professionnels pour intérieur et extérieur</li>
        <li>Matériel mobile pour les espaces ouverts</li>
        <li>Configuration sur mesure selon la taille du lieu et le type d’événement</li>
    </ul>
    <p>Que ce soit pour un cocktail intimiste ou une soirée en plein air, nous garantissons un son clair, équilibré et puissant.</p>
</div>
{% endblock %}
